// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd
 *
 */

/dts-v1/;

#include "rk3036.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Rockchip RK3036S EVB1 DDR3 V10 Board";
	compatible = "rockchip,rk3036s-evb1-ddr3-v10", "rockchip,rk3036";

	chosen {
		bootargs = "console=uart8250,mmio32,0x20060000 rw root=PARTUUID=614e0000-0000 rootfstype=squashfs rootwait";
	};

	memory {
		device_type = "memory";
		reg = <0x60000000 0x20000000>;
	};

	multi_sounds: multi-sounds {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,rk3036-sounds";
		simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s>;
			};
			codec {
				sound-dai = <&acodec>;
			};
		};
		simple-audio-card,dai-link@1 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s>;
			};
			codec {
				sound-dai = <&hdmi>;
			};
		};
	};

	vdd_arm: vdd-arm-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc5v0_sys: vsys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_sdmmc: vcc-sdmmc{
		compatible = "regulator-fixed";
		gpio = <&gpio2 RK_PA6 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_sdmmc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	xin32k: xin32k {
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
		#clock-cells = <0>;
	};

	wireless-wlan {
		compatible = "wlan-platdata";

		wifi_chip_type = "rk915";
		WIFI,poweren_gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&acodec {
	spk_ctl_io = <&gpio0 RK_PA1 GPIO_ACTIVE_LOW>;
	#sound-dai-cells = <0>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu0_opp_table {
	/delete-node/ opp-408000000;
	/delete-node/ opp-1200000000;
};

&emmc {
	rockchip,default-sample-phase = <0>;
	status = "okay";
};

&gpu {
	status = "okay";
	mali-supply = <&vdd_arm>;
};

&hevc_mmu {
	status = "okay";
};

&hdmi {
	#sound-dai-cells = <0>;
	status = "okay";
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";
};

&i2s {
	status = "okay";
	#sound-dai-cells = <0>;
	pinctrl-0 = <&i2s_sclk
		     &i2s_lrclktx
		     &i2s_sdo
		     &i2s_sdi>;
};

&pinctrl {
	i2s {
		i2s_mclk: i2s-mclk {
			rockchip,pins = <0 RK_PB1 2 &pcfg_pull_default>;
		};
		i2s_sclk: i2s-sclk {
			rockchip,pins = <0 RK_PB6 2 &pcfg_pull_default>;
		};
		i2s_lrclktx: i2s-lrclktx {
			rockchip,pins = <0 RK_PB4 2 &pcfg_pull_default>;
		};
		i2s_sdo: i2s-sdo {
			rockchip,pins = <0 RK_PB0 2 &pcfg_pull_default>;
		};
		i2s_sdi: i2s-sdi {
			rockchip,pins = <0 RK_PB5 2 &pcfg_pull_default>;
		};
	};

	usb {
		host_vbus_drv: host-vbus-drv {
			rockchip,pins = <2 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3_pin>;
	compatible = "rockchip,remotectl-pwm";
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <1>;

	ir_key1 {
		rockchip,usercode = <0x4040>;
		rockchip,key_table =
			<0xf2	KEY_REPLY>,
			<0xba	KEY_BACK>,
			<0xf4	KEY_UP>,
			<0xf1	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xee	KEY_RIGHT>,
			<0xbd	KEY_HOME>,
			<0xea	KEY_VOLUMEUP>,
			<0xe3	KEY_VOLUMEDOWN>,
			<0xe2	KEY_SEARCH>,
			<0xb2	KEY_POWER>,
			<0xbc	KEY_MUTE>,
			<0xec	KEY_MENU>,
			<0xbf	0x190>,
			<0xe0	0x191>,
			<0xe1	0x192>,
			<0xe9	183>,
			<0xe6	248>,
			<0xe8	185>,
			<0xe7	186>,
			<0xf0	388>,
			<0xbe	0x175>;
	};

	ir_key2 {
		rockchip,usercode = <0xff00>;
		rockchip,key_table =
			<0xf9	KEY_HOME>,
			<0xbf	KEY_BACK>,
			<0xfb	KEY_MENU>,
			<0xaa	KEY_REPLY>,
			<0xb9	KEY_UP>,
			<0xe9	KEY_DOWN>,
			<0xb8	KEY_LEFT>,
			<0xea	KEY_RIGHT>,
			<0xeb	KEY_VOLUMEDOWN>,
			<0xef	KEY_VOLUMEUP>,
			<0xf7	KEY_MUTE>,
			<0xe7	KEY_POWER>,
			<0xfc	KEY_POWER>,
			<0xa9	KEY_VOLUMEDOWN>,
			<0xa8	KEY_PLAYPAUSE>,
			<0xe0	KEY_VOLUMEDOWN>,
			<0xa5	KEY_VOLUMEDOWN>,
			<0xab	183>,
			<0xb7	388>,
			<0xe8	388>,
			<0xf8	184>,
			<0xaf	185>,
			<0xed	KEY_VOLUMEDOWN>,
			<0xee	186>,
			<0xb3	KEY_VOLUMEDOWN>,
			<0xf1	KEY_VOLUMEDOWN>,
			<0xf2	KEY_VOLUMEDOWN>,
			<0xf3	KEY_SEARCH>,
			<0xb4	KEY_VOLUMEDOWN>,
			<0xa4	KEY_SETUP>,
			<0xbe	KEY_SEARCH>;
	};

	ir_key3 {
		rockchip,usercode = <0x1dcc>;
		rockchip,key_table =
			<0xee	KEY_REPLY>,
			<0xf0	KEY_BACK>,
			<0xf8	KEY_UP>,
			<0xbb	KEY_DOWN>,
			<0xef	KEY_LEFT>,
			<0xed	KEY_RIGHT>,
			<0xfc	KEY_HOME>,
			<0xf1	KEY_VOLUMEUP>,
			<0xfd	KEY_VOLUMEDOWN>,
			<0xb7	KEY_SEARCH>,
			<0xff	KEY_POWER>,
			<0xf3	KEY_MUTE>,
			<0xbf	KEY_MENU>,
			<0xf9	0x191>,
			<0xf5	0x192>,
			<0xb3	388>,
			<0xbe	KEY_1>,
			<0xba	KEY_2>,
			<0xb2	KEY_3>,
			<0xbd	KEY_4>,
			<0xf9	KEY_5>,
			<0xb1	KEY_6>,
			<0xfc	KEY_7>,
			<0xf8	KEY_8>,
			<0xb0	KEY_9>,
			<0xb6	KEY_0>,
			<0xb5	KEY_BACKSPACE>;
	};
};

&sdio {
	bus-width = <4>;
	max_frequency = <50000000>;
	cap-sd-highspeed;
	supports-sdio;
	ignore-pm-notify;
	keep-power-in-suspend;
	supports-rk912;
	/delete-property/ non-removable;

	pinctrl-names = "default";
	pinctrl-0 = <&sdio_clk &sdio_cmd &sdio_bus4>;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	card-detect-delay = <200>;
	disable-wp;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;
	supports-sd;
	rockchip,default-sample-phase = <90>;
	vmmc-supply = <&vcc_sdmmc>;
	status = "okay";
};

&sfc {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb_host {
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vpu_combo {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&wdt {
	status = "okay";
};
